@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Chore

<h2>@Model.ChoreName</h2>
<p>Description: @Model.ChoreDescription</p>
<p>Priority: @Model.ChorePriority</p>
<p>Finish By: @Model.FinishByDate</p>
@if (Model.IsCompleted == true) { 
    <p>COMPLETED</p>
} else {
    <p>NOT COMPLETED</p>
}

<br/>
<a class="btn btn-primary" href="@Url.Action("AllChores", "Home")">Back to All Chores</a>